.appDiv{
  width: 500px;
  text-align: center;
  margin: auto;
}
.homeDiv{
  text-align: center;
  margin: auto;
}
.customBtn{
  padding: 10px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
  box-shadow: 2px 2px 2px #efefef;
  margin: 20px;
}
.customBtn:focus{
  outline: none;
  box-shadow: none;
}

.optionBtn{
  border: 2px solid #969696;
  background: none;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.question{
  text-align: center;
}
.options{
  text-align: center;
}
.optionBtn:focus{
  outline: none;
}
.selected{
  background: antiquewhite;
}
.nextbtnsection{
  text-align: right;
}
ul{
  padding: 0;
}
li{
  list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}
table, tr > th, tr > td {
  border: 1px solid #ececec;
}